POSTGRES_DB=triplepeek
POSTGRES_USER=triplepeek
POSTGRES_PASSWORD=triplepeek

DATABASE_URL=postgresql://triplepeek:triplepeek@db:5432/triplepeek

CSV_FILE=/src/app/data/entities.csv
SEARCH_TABLE=entity_search

SPARQL_ENDPOINT=https://wikidata.data.dice-research.org/sparql